@font-face {
  font-family: 'roboto-regular';
  /* 400 */
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'roboto-medium';
  /* 500 */
  src: url(../assets/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: 'roboto-bold';
  /* 700 */
  src: url(../assets/fonts/Roboto-Bold.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #13C6B2;
  --primary-dark: #104847;
  --primary-darkest: #0F1219;
}

body, button, input, textarea {
  font-family: 'roboto-regular', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}