@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url(../assets/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url(../assets/fonts/Roboto-Bold.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--primary);
}

a:hover {
  color: var(--primary-light);
}

:root {
  --primary-lightest: #a8fff5;
  --primary-light: #7bfff0;
  --primary: #0FDFC8;
  --primary-dark: #104847;
  --primary-darker: #112828;
  --primary-darkest: #0F1219;

  --white: #FFFFFF;
  --white-50: rgba(255, 255, 255, 0.5);
  --gray-lighter: #EBEBEB;
  --gray-light: #A9A9A9;
}

body {
  color: var(--gray-lighter);
  background-color: var(--primary-darkest);
}

body > :not(.page-header):not(.background-plane) {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  z-index: 10;
}

body, button, input, textarea {
  color: var(--gray-lighter);
  font-family: Roboto, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  border: none;

  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;

  transition: all 150ms;
  cursor: pointer;
}

.title {
  /* title - h1 */
  font-size: 2rem;
  font-weight: 500;
}

.subtitle {
  color: var(--white);

  /* subtitle - h2 */
  font-size: 1.5rem;
  font-weight: 500;
}

.body-text {
  /* body-text - body | p */
  font-size: 0.875rem;
  line-height: 160%;
}

.body-text-bold {
  color: var(--primary-primary);

  /* body-text-bold - body | p */
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 160%;
}

.body-text-small {
  /* body-text-small */
  font-family: Roboto;
  font-size: 0.625rem;
  text-transform: uppercase;
}

.input-text {
  /* input-text - input | textarea */
  font-size: 0.875rem;
  font-weight: 400;
  /* line-height: 160%; */
}

.button-text {
  /* button-text - button */
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-text {
  color: #FFF;

  /* nav-text - li */
  font-size: 1rem;
  line-height: 160%;
}

header.page-header {
  border-bottom: 1px solid var(--primary);
}

header.page-header nav {
  display: flex;
  align-items: center;
  height: 4rem;
  max-width: 1140px;
  margin: 0 auto;
  box-sizing: content-box;
}

header.page-header nav > * {
  flex: 1;
}

header.page-header nav .logo img {
  width: 5.75rem;
  height: 2.25rem;
}

header.page-header nav .navigation-menu {
  display: flex;
  justify-content: center;

  list-style: none;
}

header.page-header nav .navigation-menu a {
  color: var(--gray-lighter);
}

header.page-header nav .navigation-menu a:hover {
  color: var(--white);
}

header.page-header nav .buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

header.page-header nav .buttons .search-input {
  display: flex;
  height: 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;

  border-radius: 6.25rem;
  background: var(--primary);
  color: var(--primary-darkest);
  font-weight: 500;
}

header.page-header nav .buttons .search-input input {
  background-color: transparent;
  color: var(--primary-darker);
  border: none;
  outline: none;
}

header.page-header nav .buttons .search-input input::placeholder {
  color: var(--primary-dark);
  font-weight: 400;
}

header.page-header nav .buttons .icon-button {
  display: flex;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;

  border-radius: 6.25rem;
  background: var(--primary);
  color: var(--primary-darkest);
}

header.page-header nav .buttons .search-button {

}

header.page-header nav .buttons .icon-button {

}

.button-primary {
  background-color: var(--primary);
  color: var(--primary-darkest);
  /* transition: background-color 150ms; */
}

.button-primary:hover {
  background-color: var(--primary-lightest);
}

.button-secondary {
  background-color: transparent;
  color: var(--primary);
  box-shadow: inset 0px 0px 0px 2px var(--primary);
  /* transition: all 150ms; */
}

.button-secondary:hover {
  color: var(--primary-lightest);
  box-shadow: inset 0px 0px 0px 2px var(--primary-lightest);
}