body {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    min-height: 100vh;
    padding-bottom: 3rem;
}

.background-plane {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -10;
}

.background-plane img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 30%;
}

.background-plane div {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, var(--primary-darkest) 100%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    flex: 1;
}

main .movie-data {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
}

main .movie-data .score {
    display: flex;
    gap: 0.625rem;
}

main .movie-data .score .score-stars {
    display: flex;
    gap: 0.625rem;
}

main .movie-data .score i {
    font-size: 1.5rem;
    color: var(--primary);
}

main .movie-data .genres span {
    color: var(--gray-light);
}

main .movie-data .genres span:nth-child(2) {
    padding: 0 1rem;
    margin: 0 1rem;
    border-right: 1px solid var(--gray-light);
    border-left: 1px solid var(--gray-light);
}

main .movie-data button {
    width: fit-content;
}

main .best-movies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
    align-items: flex-start;
}

.movie-card {
    all: unset;
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    color: #FFF;
    text-align: center;
    transition: -webkit-transform .5s ease;
    
    background-color: transparent;

    cursor: pointer;
}

.movie-card .movie-card-stars {
    position: absolute;
    width: 40px;
    height: 40px;

    top: -30px;
    right: 10px;

    color: var(--primary);

    display: flex;
    justify-content: flex-end;
    gap: 3px;
}

.movie-card .movie-card-stars i {
    position: absolute;
    transform: scale(0.6);
}

.movie-card .movie-card-stars i:nth-child(1) {
    right: 0;
    top: 4px;
    animation: stars 0.8s ease-in-out infinite alternate;
}

.movie-card .movie-card-stars i:nth-child(2) {
    left: 0;
    top: 0;
    animation: stars 0.8s 0.2s ease-in-out infinite alternate;
}

.movie-card .movie-card-stars i:nth-child(3) {
    left: 12px;
    top: 9px;
    animation: stars 0.8s 0.4s ease-in-out infinite alternate;
}

.movie-card .movie-card-stars i:nth-child(4) {
    left: 3px;
    top: 17px;
    animation: stars 0.8s 0.6s ease-in-out infinite alternate;
}

.movie-card .movie-card-stars i:nth-child(5) {
    right: 3px;
    top: 20px;
    animation: stars 0.8s 0.8s ease-in-out infinite alternate;
}

.movie-card .movie-position {
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 500;
}

.movie-card img {
    /* width: 100%;
    height: 13.5rem; */
    border-radius: var(--rounded, 0.5rem);
    aspect-ratio: 1/1.5;
}

.movie-card span {
    transition: color .2s ease;
}

.movie-card:hover span {
    color: var(--primary);
}

.scorest {
    padding: 0.25rem 0.5rem;
    border-radius: 6.25rem;
    background-color: var(--primary);
    color: var(--primary-darkest);
}

@keyframes stars {
    0% {
        transform: scale(0.6) rotate(-30deg);
    }

    100% {
        transform: scale(0.8) rotate(30deg);
    }
}