body {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    min-height: 100vh;
    padding-bottom: 3rem;
}
.background-plane {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -10;
}

.background-plane img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 30%;
}

.background-plane div {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, var(--primary-darkest) 100%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    flex: 1;
}

main .movie-data {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
}

main .movie-data .score {
    display: flex;
    gap: 0.625rem;
}

main .movie-data .score i {
    font-size: 1.5rem;
    color: var(--primary);
}

main .movie-data .genres span {
    color: var(--gray-light);
}

main .movie-data .genres span:nth-child(2) {
    padding: 0 1rem;
    margin: 0 1rem;
    border-right: 1px solid var(--gray-light);
    border-left: 1px solid var(--gray-light);
}

main .movie-data button {
    width: fit-content;
}

main .best-movies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
}

.movie-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
    color: #FFF;
    text-align: center;

}

.movie-card img {
    width: 100%;
    border-radius: var(--rounded, 0.5rem);
    aspect-ratio: 1/1.5;
}