body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.login-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 22rem;
  margin: 0 auto;
}
.login-form input{
  width: 21.875rem;
  padding: 0.75rem;
  border-radius: var(--rounded, 0.5rem);
  background-color: var(--primary-darkest);
  box-shadow: inset 0px 0px 0px 2px var(--primary-dark);
  outline: none;
  border: none;
  transition: box-shadow 150ms;
  text-align: center;
}
.login-form input:focus{
  box-shadow: inset 0px 0px 0px 2px var(--primary);
}
.login-form button{
  width: 100%;
}